body {
    margin: 0;
    overflow: hidden;
}

.image-container {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    transition: background-image 0.5s ease-in-out;
}

.text-links {
    width: 100%;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    position: absolute;
    top: 7%; 
    color: #000000; 
    font-size: 20px; 
    text-align: left;
    padding: 10px 10px;
}

.skip {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    color: #000000; 
    font-size: 20px; 
    text-align: left;
    border: none;
    background: white;
}

.forward {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    border: none;
    padding: 400px 400px;
    cursor: pointer;
}